[Desktop Entry]
Type=Application
Name=SPCPlay
GenericName=SNES SPC700 Player
Comment=A very simple SPC player for Windows based on SNESAPU.
Exec=<your/path/to/spcplay-mpris> "%f"
Terminal=false
Icon=</your/path/to/spcplayer.png>
Categories=Audio;AudioVideo;Player
StartupNotify=false
